node_modules/
dist/
.env
.DS_Store
Thumbs.db

bin/
obj/
*.dll
*.exe
*.pdb

.vs/
*.user
*.suo

Debug/
Release/

*.nupkg
packages/

*.log
*.DS_Store
*.db
*.cache



SalesDatePrediction-web-app/.angular
SalesDatePrediction-web-app/.idea
SalesDatePrediction-web-app/.vscode
SalesDatePrediction-web-app/node_modules/
SalesDatePrediction-web-app/dist/
SalesDatePrediction-web-app/.env*

SalesDatePrediction-back/bin/
SalesDatePrediction-back/obj/
SalesDatePrediction-back/.vs/
SalesDatePrediction-back/*.user
SalesDatePrediction-back/*.suo
SalesDatePrediction-back/*.log

**/docker-compose.override.yml
**/docker-compose.*.yml
**/Dockerfile.*
logs/
