::ng-deep .btn-rojo {
    font-weight: bold !important;
    color: #d32f2f !important;
}

::ng-deep .btn-verde {
    margin-left: 2rem !important;
    font-weight: bold !important;
    color: #388e3c !important;
}

::ng-deep .actions-cell {
    text-align: right !important;
    padding-right: 3rem !important;
}